body {
    background-repeat: repeat;
}


.scontent {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 140vh;
    color: #fff;
    margin: 0;
}

.scontent h1 {
    font-family: 'Arial';
    font-size: 50px;
    padding-left: 20px;
    letter-spacing: 2px;
}

.long-form {
    height: 750px;
}

form input:invalid:required {
    border-bottom: 1px solid #aa2b2b;

}

form input:valid {
    border-bottom: 1px solid #2ba2aa;

}